{% extends template_name %}


{% load static %}

{% block title %}Signup{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow login-card">
                <div class="card-body">
                    <h2 class="text-center mb-4" id="form-title">Create Account</h2>
                    <div class="error-message" id="error-message"></div>
                    <!-- REGISTER FORM -->
                    <form method="post" id="register-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" id="register-btn" class="btn btn-success w-100 mb-2">SignUp</button>
                    </form>
                    <!-- forgot password -->
                    <div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}" id="forgot-password-link">Forgot Password?</a>
                    </div>
                    <!-- toggle to login -->
                    <div class="toggle mt-3 text-center" id="toggle-link">
                        <a href="{% url 'login' %}" id="login-link">Already have an account? Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}